## 30 Days Python Bootcamp @BEST-ENLIST

### Author: SANDHYA S

### Date: 30 June '21

## Task: MySql (Insert into & select)

### INSERT INTO
- To fill a table in MySQL, use the INSERT INTO statement
Example: 
```
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Dhoni", "Ranchi 7")
mycursor.execute(sql, val)
mydb.commit()
```
- mydb.commit() is important comment, only this changes the table

- To insert multiple rows into a table, use the _executemany()_ method. 
- second parameter of the executemany() method is a list of tuples, containing the data you want to insert.
Example: 
```
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [('Dhoni', '7'), ('Kohli', '18')]
mycursor.executemany(sql, val)
mydb.commit()
```

### SELECT
- To select from a table in MySQL, use the SELECT statement
Example: 
```
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

- To select only some of the columns in a table, use the SELECT statement followed by the column
```
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

- If you are only interested in one row, you can use the _fetchone()_ method
```
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)
```

# Exercise

### 1. Create a table with doctor name, doctor ID & patients visited

In [1]:
import mysql.connector as msq

In [2]:
conn = msq.connect(host='localhost', user='root', password='password', database='mydb')
curs = conn.cursor(buffered=True)

In [3]:
# Creating table, 'doctors' and inserting value in it
curs.execute('CREATE TABLE Doctors(id integer(7), name VARCHAR(30), patients INTEGER(3))')

In [4]:
query = 'INSERT INTO Doctors(Id, Name, patients) VALUES(%s, %s, %s)'
data = [(2634, 'John', 2), (5135, 'Chris', 9), (7682, 'Sara', 0), (3482, 'Katty', 12), 
        (1783, 'Kelly', 0), (1290, 'Rose', 7), (8465, 'Ziba', 3), (9084, 'Lisa', 4),
        (2067, 'Alice', 10), (4712, 'Dan', 0), (6092, 'George', 7), (5056, 'Jerry', 3),]
curs.executemany(query, data)
conn.commit()

In [5]:
# Displaying Doctors' details
query = 'SELECT * FROM Doctors'
curs.execute(query)
details = curs.fetchall()

print('Id\tName\tPatients Visited')
print('-'*32)
for detail in details:
    print(f'{detail[0]}\t{detail[1]}\t{detail[2]}')

Id	Name	Patients Visited
--------------------------------
2634	John	2
5135	Chris	9
7682	Sara	0
3482	Katty	12
1783	Kelly	0
1290	Rose	7
8465	Ziba	3
9084	Lisa	4
2067	Alice	10
4712	Dan	0
6092	George	7
5056	Jerry	3

### 2. Get the doctor(s) who have more than 5 patients visited

In [6]:
query = 'SELECT * FROM Doctors WHERE patients > 5'
curs.execute(query)
details = curs.fetchall()
print('Doctor(s) who have more than 5 patients visited\n')
print('Id\tName')
print('-'*12)
for detail in details:
    print(f'{detail[0]}\t{detail[1]}')

Doctor(s) who have more than 5 patients visited

Id	Name
------------
5135	Chris
3482	Katty
1290	Rose
2067	Alice
6092	George

### 3. Get the doctors with no patients visit

In [7]:
query = 'SELECT * FROM Doctors WHERE patients = 0'
curs.execute(query)
details = curs.fetchall()
print('Doctor(s) with no patient visits\n')
print('Id\tName')
print('-'*12)
for detail in details:
    print(f'{detail[0]}\t{detail[1]}')

Doctor(s) with no patient visits

Id	Name
------------
7682	Sara
1783	Kelly
4712	Dan

## Thank You!