## 30 Days Python Bootcamp @BEST-ENLIST

### Author: SANDHYA S

### Date: 17 June '21

## Task: Python Dictionaries & Sets

## 1. Dictionaries

#### • A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
#### • Dictionary can be defined by enclosing a comma-separated list of key-value pairs in curly braces ({}). 
#### •  A colon (:) separates each key from its associated value

#### dictionary = {< key >: < value >}

In [1]:
# Example
capitals = {'Maharashtra': 'Mumbai',
           'Telangana': 'Hyderabad',
           'Tamil Nadu': 'Chennai',
           'Karnataka': 'Bengaluru',
           'Bihar': 'Patna'}
print('DICTIONARY:')
capitals

DICTIONARY:

{'Maharashtra': 'Mumbai',
 'Telangana': 'Hyderabad',
 'Tamil Nadu': 'Chennai',
 'Karnataka': 'Bengaluru',
 'Bihar': 'Patna'}

#### • A value is retrieved from a dictionary by specifying its corresponding key in square brackets

In [2]:
# Example
print('Capital of Karnataka:', capitals['Karnataka'])

Capital of Karnataka: Bengaluru

#### • Adding an entry to an existing dictionary is simply a matter of assigning a  new key and value

In [3]:
# Example
capitals['Goa'] = 'Panaji'
print('DICTIONARY:')
capitals

DICTIONARY:

{'Maharashtra': 'Mumbai',
 'Telangana': 'Hyderabad',
 'Tamil Nadu': 'Chennai',
 'Karnataka': 'Bengaluru',
 'Bihar': 'Patna',
 'Goa': 'Panaji'}

In [4]:
capitals['Gujarat'] = 'Gandhinagar'
print('DICTIONARY:')
capitals

DICTIONARY:

{'Maharashtra': 'Mumbai',
 'Telangana': 'Hyderabad',
 'Tamil Nadu': 'Chennai',
 'Karnataka': 'Bengaluru',
 'Bihar': 'Patna',
 'Goa': 'Panaji',
 'Gujarat': 'Gandhinagar'}

#### • If you want to update an entry, you can just assign a new value to an existing key

In [5]:
# Example
capitals['Tamil Nadu'] = 'Madras'
print('DICTIONARY:')
capitals

DICTIONARY:

{'Maharashtra': 'Mumbai',
 'Telangana': 'Hyderabad',
 'Tamil Nadu': 'Madras',
 'Karnataka': 'Bengaluru',
 'Bihar': 'Patna',
 'Goa': 'Panaji',
 'Gujarat': 'Gandhinagar'}

#### • To delete an entry, use the 'del' statement, specifying the key to delete

In [6]:
# Example
del capitals['Maharashtra']
print('DICTIONARY:')
capitals

DICTIONARY:

{'Telangana': 'Hyderabad',
 'Tamil Nadu': 'Madras',
 'Karnataka': 'Bengaluru',
 'Bihar': 'Patna',
 'Goa': 'Panaji',
 'Gujarat': 'Gandhinagar'}

### Other methods in Dictionary
##### • clear() : Removes all the elements from the dictionary
##### • copy() : Returns a copy of the dictionary
##### • fromkeys() : Returns a dictionary with the specified keys and value
##### •  get() : Returns the value of the specified key
##### •  items() : Returns a list containing a tuple for each key value pair
##### •  keys() : Returns a list containing the dictionary's keys
##### •  pop() : Removes the element with the specified key
##### •  popitem() : Removes the last inserted key-value pair
##### •  setdefault() : Returns the value of the specified key, if the key does not  exist, insert the key with the specified value
##### •  update() : Updates the dictionary with the specified key-value pairs
##### •  values() : Returns a list of all the values in the dictionary

## 2. Sets

#### • A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [7]:
# Example
set_ = {'Parrot', 'Peacock', 'Rose', 'Cat'}
print('SET:', set_)

SET: {'Peacock', 'Rose', 'Cat', 'Parrot'}

#### • We cannot access items in a set by referring to an index or a key.
#### • To add one item to a set use the add() method

In [8]:
# Example
set_.add('Sun Flower')
print('SET:', set_)

SET: {'Peacock', 'Sun Flower', 'Rose', 'Cat', 'Parrot'}

#### • To add more than one item to a set use the update() method.

In [9]:
# Example 
set_.update(['Green', 'Orange'])
print('SET:', set_)

SET: {'Peacock', 'Sun Flower', 'Green', 'Rose', 'Cat', 'Orange', 'Parrot'}

#### • To remove an item in a set, use the remove(), or the discard() method

In [10]:
# Example: remove()
set_.remove('Rose')
print('SET:', set_)

SET: {'Peacock', 'Sun Flower', 'Green', 'Cat', 'Orange', 'Parrot'}

In [11]:
# Example: discard()
set_.discard('Cat')
print('SET:', set_)

SET: {'Peacock', 'Sun Flower', 'Green', 'Orange', 'Parrot'}

# Exercise:

### 1. Write a Python script to merge two Python dictionaries

In [12]:
# Creating two dictionaries
animals = {'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
birds = {'K': 'King Fisher', 'O': 'Owl', 'P': 'Parrot'}
print('DICTIONARIES:')
print('Animals:', animals)
print('Birds:', birds)

DICTIONARIES:
Animals: {'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
Birds: {'K': 'King Fisher', 'O': 'Owl', 'P': 'Parrot'}

#### a) Merging dictionaries using update()

In [13]:
animals.update(birds)
print('Animals:\n')
animals

Animals:

{'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'K': 'King Fisher',
 'O': 'Owl',
 'P': 'Parrot'}

In [14]:
birds.update(animals)
print('Birds:\n')
birds

Birds:

{'K': 'King Fisher',
 'O': 'Owl',
 'P': 'Parrot',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant'}

#### b) Merging dictionaries using **

In [15]:
animals = {'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
birds = {'K': 'King Fisher', 'O': 'Owl', 'P': 'Parrot'}
new_dict = {**animals, **birds}
print('Merged Dict:\n')
new_dict

Merged Dict:

{'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'K': 'King Fisher',
 'O': 'Owl',
 'P': 'Parrot'}

In [16]:
new_dict = {**birds, **animals}
print('Merged Dict:\n')
new_dict

Merged Dict:

{'K': 'King Fisher',
 'O': 'Owl',
 'P': 'Parrot',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant'}

### 2. Write a Python program to remove a key from a dictionary

In [17]:
# Creating a dictionary
numbers = {1:'one', 2: 'Two', 3: 'Three', 4: 'Four', 
           5: 'Five', 6: 'Six', 7: 'Seven', 8: 'Eight'}
print('DICTIONARY:')
numbers

DICTIONARY:

{1: 'one',
 2: 'Two',
 3: 'Three',
 4: 'Four',
 5: 'Five',
 6: 'Six',
 7: 'Seven',
 8: 'Eight'}

#### a) Removing the item 4, using del

In [18]:
del numbers[4]
print('DICTIONARY:')
numbers

DICTIONARY:

{1: 'one', 2: 'Two', 3: 'Three', 5: 'Five', 6: 'Six', 7: 'Seven', 8: 'Eight'}

#### b) Removing the item 6, using pop()

In [19]:
numbers.pop(6)
print('DICTIONARY:')
numbers

DICTIONARY:

{1: 'one', 2: 'Two', 3: 'Three', 5: 'Five', 7: 'Seven', 8: 'Eight'}

#### c) Removing last item, using popitem()

In [20]:
numbers.popitem()
print('DICTIONARY:')
numbers

DICTIONARY:

{1: 'one', 2: 'Two', 3: 'Three', 5: 'Five', 7: 'Seven'}

#### d) Removing all the elements, using clear()

In [21]:
numbers.clear()
print('DICTIONARY:')
numbers

DICTIONARY:

{}

### 3. Write a Python program to map two lists into a dictionary

In [22]:
# Creating two lists
lower = ['abc', 'def', 'ghi', 'jkl', 'mno']
upper = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO']
print('Lists\nlower:',lower,'\nUPPER:',upper)

Lists
lower: ['abc', 'def', 'ghi', 'jkl', 'mno']
UPPER: ['ABC', 'DEF', 'GHI', 'JKL', 'MNO']

#### a) Mapping the lists into a dictionary, using zip()

In [23]:
words = dict(zip(lower, upper))
print('DICTIONARY:\n')
words

DICTIONARY:

{'abc': 'ABC', 'def': 'DEF', 'ghi': 'GHI', 'jkl': 'JKL', 'mno': 'MNO'}

#### b) Mapping the lists into a dictionary, using list comprehension

In [24]:
words = {lower[i]: upper[i] for i in range(0, len(lower))}
print('DICTIONARY:\n')
words

DICTIONARY:

{'abc': 'ABC', 'def': 'DEF', 'ghi': 'GHI', 'jkl': 'JKL', 'mno': 'MNO'}

### 4. Write a Python program to find the length of a set

In [25]:
# Creating a set of 5 elements
states = {'Kerala', 'Tamilnadu', 'Andhra Pradesh', 'Telengana', 'Karnataka'}
print('SET:', states)

SET: {'Telengana', 'Tamilnadu', 'Andhra Pradesh', 'Kerala', 'Karnataka'}

#### Finding length of the set using len()

In [26]:
length = len(states)
print('Length of set, states:', length)

Length of set, states: 5

In [27]:
print('Length of set, states:', len(states))

Length of set, states: 5

### 5. Write a Python program to remove the intersection of a 2nd set from the 1st set

In [28]:
# Creating two sets
set1 = {123, 564, 879, 342, 876}
set2 = {564, 912, 879, 398, 107}
print('ORIGINAL SETS:')
print('Set 1:', set1)
print('Set 2:', set2)

ORIGINAL SETS:
Set 1: {876, 879, 564, 342, 123}
Set 2: {107, 398, 879, 912, 564}

#### a) Removing the intersection using difference_update()

In [29]:
set1.difference_update(set2)
print('Updated Set1',set1)
print('Set 2:', set2)

Updated Set1 {876, 342, 123}
Set 2: {107, 398, 879, 912, 564}

#### a) Removing the intersection using -= operator

In [30]:
set1 = {123, 564, 879, 342, 876}
set2 = {564, 912, 879, 398, 107}
set1 -= set2
print('Updated Set1',set1)
print('Set 2:', set2)

Updated Set1 {876, 342, 123}
Set 2: {107, 398, 879, 912, 564}

## Thank You!