# 30 Days Python Bootcamp @BEST-ENLIST

## Author: SANDHYA S

## Date: 15 June '21

# Task: Exercise - Variables & Data Types

## * VARIABLES
A variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type, a variable may be assigned a value of one type and then later re-assigned a value of a different type.

In [1]:
# Example
number_of_wheels = 3
print(number_of_wheels)

3

#### Variables can store data of different types which has the capability to do different things.

* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Boolean Type: bool

### 1. Integer

In [2]:
# Example
print(23413435 + 124214)

23537649

In [3]:
number = 234
print('Number:', number)
print('Datatype:', type(number))

Number: 234
Datatype: <class 'int'>

### 2. Floating-point numbers

In [4]:
# Example
pie = 3.14
print('Value of pie:', pie)
print('Datatype:' , type(pie))

Value of pie: 3.14
Datatype: <class 'float'>

In [5]:
print(2.456 + 564.81)

567.266

### 3. Complex numbers

#### < real part > + < imaginary part > j

In [6]:
# Example
number = 5 + 7j
print('Number:', number)
print('Datatype:', type(number))

Number: (5+7j)
Datatype: <class 'complex'>

### 4. String
Strings are sequences of character data. The string type in Python is called str

In [7]:
# Example
text = 'String'
print('Text:', text)
print('Datatype:', type(text))

Text: String
Datatype: <class 'str'>

### 5. Boolean
Objects of Boolean type may have one of two values True or False

In [8]:
# Example
234 == 677

False

In [9]:
'String' != 'str'

True

In [10]:
text = 456 < 567
print('Text:', text)
print('Datatype:', type(text))

Text: True
Datatype: <class 'bool'>

## * Assigning Values to Variables
Python variables do not need explicit declaration to reserve memory space. 

The declaration happens automatically when you assign a value to a variable. 

The equal sign (=) is used to assign values to variables.

In [11]:
# Integer assignment
value = 53
number = 78764
print(value,',',number)

53 , 78764

In [12]:
# Floating point assignment
pie = 3.14 
discount = 4.7
print(pie,',',discount)

3.14 , 4.7

In [13]:
# String assignment
bird = 'Peacock' 
flower = 'Sun Flower'
print(flower,',',bird)

Sun Flower , Peacock

## * Multiple Assignment
Python allows you to assign a single value to several variables simultaneously.

In [14]:
# Assigning to a same value
A = B = C = 25
print('A:',A)
print('B:',B)
print('C:',C)

A: 25
B: 25
C: 25

In [15]:
# Assigning multiple objects to multiple variables
number, pie, bird = 234, 3.14, 'Parrot'
print('Number:', number)
print('Pie:', pie)
print('Bird:', bird)

Number: 234
Pie: 3.14
Bird: Parrot

# Exercise:

### 1.  Create three variables (a,b,c) to same value of any integer &  do the following
#### a) Divide a by 10
#### b) Multiply b by 50
#### c) Add c value by 60

In [16]:
# Solution
a = b = c = 30

In [17]:
# Part a
print('a:', a)
print('a/10:', a/10)

a: 30
a/10: 3.0

In [18]:
# Part b
print('b:', b)
print('b*50:', b*50)

b: 30
b*50: 1500

In [19]:
# Part c
print('c:', c)
print('c+60:', c+60)

c: 30
c+60: 90

### 2. Create a String variable of 5 characters and replace the 3rd character with 'G'

In [20]:
# Solution - Method 1
text = 'WORDS'
print(text)
text = text.replace('R','G')
print(text)

WORDS
WOGDS

In [21]:
# Method 2
text = 'PAINT'
print(text)
text = text.replace(text[2], 'G')
print(text)

PAINT
PAGNT

### 3. Create two values (a,b) of int, float data type & convert the vise versa

In [22]:
# Solution
a = 567
b = 345.23
print('a:',a,'\nDatatype:',type(a))
print('b:',b,'\nDatatype:',type(b))

a: 567
Datatype: <class 'int'>
b: 345.23
Datatype: <class 'float'>

In [23]:
# Converting data types
a = float(a)
b = int(b)
print('a:',a,'\nDatatype:',type(a))
print('b:',b,'\nDatatype:',type(b))

a: 567.0
Datatype: <class 'float'>
b: 345
Datatype: <class 'int'>

# Thank You!