## _30 Days Python Bootcamp @ BEST-ENLIST_

### _Author: SANDHYA S_

### _Date: 08 July '21_

## _Task: Python JSON_
---

- Python has a built-in package called json, which can be used to work with JSON data
- If you have a JSON string, you can parse it by using the json.loads() method

In [1]:
import json

# some JSON:
x =  '{ "name":"Sachin", "age":18, "city":"Mumbai"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

18

- If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

In [2]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

- You can convert Python objects of the following types, into JSON strings:
> - dict
> - list
> - tuple
> - string
> - int
> - float
> - True
> - False
> - None
- Use the indent parameter to define the numbers of indents

- You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values
> - json.dumps(x, indent=4, separators=(". ", " = "))
> - The json.dumps() method has parameters to order the keys in the result
> - json.dumps(x, indent=4, sort_keys=True)

# Exercise:
## _Create a JSON of all object types and import the JSON into an SQL Database_

In [3]:
x = '{"Physics":98, "Chemistry":97, "Maths":97, "Total":292, "Percentage":98.33, "Passed":"True"}'
json.loads(x)

{'Physics': 98,
 'Chemistry': 97,
 'Maths': 97,
 'Total': 292,
 'Percentage': 98.33,
 'Passed': 'True'}

In [4]:
import mysql.connector as msq
db = msq.connect(host='localhost', user='root', password='password', database='mydb')
curs = db.cursor(buffered=True)

# Creating table - 'student'
std_q = 'CREATE TABLE student(Id int auto_increment primary key, details json)'
curs.execute(std_q)

In [5]:
query = '''insert into student(details) values
        ('{"student":"(Annie)", "marks":{"Physics":98, "Chemistry":97, "Maths":97}, 
        "Total":292, "Percentage":98.33, "Passed":"True"}'),
        ('{"student":"(John)", "marks":{"Physics":45, "Chemistry":40, "Maths":60}, 
        "Total":145, "Percentage":48.33, "Passed":"False"}'),
        ('{"student":"(Kelly, Andrew)", "marks":{"Physics":82, "Chemistry":76, "Maths":85}, 
        "Total":242, "Percentage":80.67, "Passed":"True"}')'''
curs.execute(query)
db.commit()

In [6]:
data = 'SELECT * FROM student'
curs.execute(data)
details = curs.fetchall()
print(f'STUDENT DETAILS:\n{"-"*16}')
for detail in details:
    print(detail)

STUDENT DETAILS:
----------------
(1, '{"Total": 292, "marks": {"Maths": 97, "Physics": 98, "Chemistry": 97}, "Passed": "True", "student": "(Annie)", "Percentage": 98.33}')
(2, '{"Total": 145, "marks": {"Maths": 60, "Physics": 45, "Chemistry": 40}, "Passed": "False", "student": "(John)", "Percentage": 48.33}')
(3, '{"Total": 242, "marks": {"Maths": 85, "Physics": 82, "Chemistry": 76}, "Passed": "True", "student": "(Kelly, Andrew)", "Percentage": 80.67}')

In [7]:
marks = "select id, details->'$.marks' from student"
curs.execute(marks)
details = curs.fetchall()
print(f'Id, Marks\n{"-"*9}')
for detail in details:
    print(detail)

Id, Marks
---------
(1, '{"Maths": 97, "Physics": 98, "Chemistry": 97}')
(2, '{"Maths": 60, "Physics": 45, "Chemistry": 40}')
(3, '{"Maths": 85, "Physics": 82, "Chemistry": 76}')

In [8]:
perc = "select id, details->'$.Percentage' from student"
curs.execute(perc)
details = curs.fetchall()
print(f'Id, Percentage\n{"-"*14}')
for detail in details:
    print(detail)

Id, Percentage
--------------
(1, '98.33')
(2, '48.33')
(3, '80.67')

In [9]:
curs.execute('DROP TABLE student')
curs.close()
db.close()

---
## _Thank You!_