## 30 Days Python Bootcamp @BEST-ENLIST

### Author: SANDHYA S

### Date: 01 July '21

## Task: MySql: Filter & Sort

- When selecting records from a table, you can filter the selection by using the WHERE statement:
```
sql = "SELECT * FROM customers WHERE address ='Chennai'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

- You can also select the records that starts, includes, or ends with a given letter or phrase.  Use the %  to represent wildcard characters
```
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

- Use the ORDER BY statement to sort the result in ascending or descending order.
- The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.
```
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

- Use the DESC keyword to sort the result in a descending order
```
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
```

# Exercise

### 1. Create an Excel with data of Student database and add all the values which is required for student management database, Read the excel file and add the datas into a database (using script)

In [1]:
# Displaying the data of 'student_data.xlsx'
import pandas as pd
data = pd.read_excel('student_data.xlsx')  
data

,Student ID,First Name,Last Name,Data of Birth,Email,Phone,Address
0,Q1001,Luke,Baxley,01/02/1998,lpb@myUniversity.com,780-883-7269,"222 Lakeshore Drive, Abilene"
1,Q1002,Marnie,Lemmons,11/07/1998,mgl@myUniversity.com,826-443-7227,"610 Spring Creek Drive, Waynesburg"
2,Q1003,Anne,Scott,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive, Abilene"
3,Q1004,Lucy,Blakeslee,03/02/2000,lbb@myUniversity.com,956-277-5715,"787 Ruth Street, Springfield"
4,Q1005,Chelsea,Vlassman,01/24/1997,scv@myUniversity.com,716-713-9011,"461 Lakeshore Drive, Abilene"
5,Q1006,Kelly,Hudson,01/25/1999,mkh@myUniversity.com,775-553-2558,"744 Ruth Street, Springfield"
6,Q1007,Todd,Robertson,01/21/1997,gtw@myUniversity.com,279-705-3782,"832 Lakeshore Drive, Abilene"
7,Q1008,Kirk,Mitchell,01/20/1997,jkm@myUniversity.com,937-857-9883,"793 Ruth Street, Springfield"
8,Q1009,Suzanne,Dunn,11/20/1997,ksd@myUniversity.com,985-677-7127,"587 Lakeshore Drive, Abilene"
9,Q1010,Tina,Drew,01/04/1998,tmd@myUniversity.com,909-318-2642,"725 Ruth Street, Springfield"
10,Q1011,Alan,Roman,01/05/1998,alr@myUniversity.com,141-999-1475,"364 Lakeshore Drive, Abilene"
11,Q1012,Jie,Woo,01/06/2000,jjw@myUniversity.com,768-598-5770,"603 Ruth Street, Springfield"
12,Q1013,Ruth,Langford,01/07/1998,srl@myUniversity.com,826-357-7927,"610 Lakeshore Drive, Abilene"
13,Q1014,Peyton,Baxley,02/07/1999,pjb@myUniversity.com,780-883-7269,"222 Lakeshore Drive, Abilene"
14,Q1015,Shawna,Rose,12/05/1997,snr@myUniversity.com,826-643-7227,"616 Spring Creek Drive, Waynesburg"
15,Q1016,Kimberly,Macaw,12/02/1998,kmm@myUniversity.com,759-315-2580,"871 Lakeshore Drive, Abilene"
16,Q1017,Faustina,Hicks,01/24/1997,fah@myUniversity.com,956-277-5715,"787 Ruth Street, Springfield"
17,Q1018,Melissa,Meeks,01/25/1999,scv@myUniversity.com,716-713-9011,"461 Lakeshore Drive, Abilene"
18,Q1019,Shelly,McFarlen,01/21/1997,sdm@myUniversity.com,775-553-2558,"744 Ruth Street, Springfield"
19,Q1020,Alexandro,Lopez,01/20/1997,ajl@myUniversity.com,279-705-3782,"832 Lakeshore Drive, Abilene"

#### 1) Loading data from Excel file

In [2]:
import xlrd
book = xlrd.open_workbook('student_data.xlsx')
sheet = book.sheet_by_name('Sheet1')

#### 2) Establishing connection to the database & creating the table

In [3]:
import mysql.connector as msq
db = msq.connect(host='localhost', user='root', password='MySqlPass234', database='mydb')
curs = db.cursor(buffered=True)

# Creating table - 'student'
tab_q = 'CREATE TABLE student(StudentID varchar(50), FirstName varchar(50), LastName varchar(50),\
         DateOfBirth varchar(50), Email varchar(50), Phone varchar(50), Address varchar(50))'
curs.execute(tab_q)

#### 3) Inserting values into the table

In [4]:
# Inserting Excel data into student table
query = 'INSERT INTO student(StudentID, FirstName, LastName, DateOfBirth, Email, Phone, Address)\
         VALUES (%s, %s, %s, %s, %s, %s, %s)'

for r in range(1, sheet.nrows):
    StudentID = sheet.cell(r, 0).value
    FirstName = sheet.cell(r, 1).value
    LastName = sheet.cell(r, 2).value
    DateOfBirth = sheet.cell(r, 3).value
    Email = sheet.cell(r, 4).value
    Phone = sheet.cell(r, 5).value
    Address = sheet.cell(r, 6).value
    values = (StudentID, FirstName, LastName, DateOfBirth, Email, Phone, Address)
    curs.execute(query, values)
db.commit()
print(f'Successfully inserted {sheet.nrows} rows and {sheet.ncols} columns into the student table!')

Successfully inserted 21 rows and 7 columns into the student table!

#### 4) Performing operations on the data stored into the table

In [5]:
# Displaying some data of student table 
query = 'SELECT * FROM student'
curs.execute(query)
details = curs.fetchall()
print(f'STUDENT DETAILS:\nStudent ID, First Name, Last Name, Date of Birth, Email, Phone, Address\n{"-"*71}')
for detail in details:
    print(detail)

STUDENT DETAILS:
Student ID, First Name, Last Name, Date of Birth, Email, Phone, Address
-----------------------------------------------------------------------
('Q1001', 'Luke', 'Baxley', '01/02/1998', 'lpb@myUniversity.com', '780-883-7269', '222 Lakeshore Drive, Abilene')
('Q1002', 'Marnie', 'Lemmons', '11/07/1998', 'mgl@myUniversity.com', '826-443-7227', '610 Spring Creek Drive, Waynesburg')
('Q1003', 'Anne', 'Scott', '02/02/1997', 'afs@myUniversity.com', '759-315-2580', '871 Lakeshore Drive, Abilene')
('Q1004', 'Lucy', 'Blakeslee', '03/02/2000', 'lbb@myUniversity.com', '956-277-5715', '787 Ruth Street, Springfield')
('Q1005', 'Chelsea', 'Vlassman', '01/24/1997', 'scv@myUniversity.com', '716-713-9011', '461 Lakeshore Drive, Abilene')
('Q1006', 'Kelly', 'Hudson', '01/25/1999', 'mkh@myUniversity.com', '775-553-2558', '744 Ruth Street, Springfield')
('Q1007', 'Todd', 'Robertson', '01/21/1997', 'gtw@myUniversity.com', '279-705-3782', '832 Lakeshore Drive, Abilene')
('Q1008', 'Kirk', 'Mitchell', '01/20/1997', 'jkm@myUniversity.com', '937-857-9883', '793 Ruth Street, Springfield')
('Q1009', 'Suzanne', 'Dunn', '11/20/1997', 'ksd@myUniversity.com', '985-677-7127', '587 Lakeshore Drive, Abilene')
('Q1010', 'Tina', 'Drew', '01/04/1998', 'tmd@myUniversity.com', '909-318-2642', '725 Ruth Street, Springfield')
('Q1011', 'Alan', 'Roman', '01/05/1998', 'alr@myUniversity.com', '141-999-1475', '364 Lakeshore Drive, Abilene')
('Q1012', 'Jie', 'Woo', '01/06/2000', 'jjw@myUniversity.com', '768-598-5770', '603 Ruth Street, Springfield')
('Q1013', 'Ruth', 'Langford', '01/07/1998', 'srl@myUniversity.com', '826-357-7927', '610 Lakeshore Drive, Abilene')
('Q1014', 'Peyton', 'Baxley', '02/07/1999', 'pjb@myUniversity.com', '780-883-7269', '222 Lakeshore Drive, Abilene')
('Q1015', 'Shawna', 'Rose', '12/05/1997', 'snr@myUniversity.com', '826-643-7227', '616 Spring Creek Drive, Waynesburg')
('Q1016', 'Kimberly', 'Macaw', '12/02/1998', 'kmm@myUniversity.com', '759-315-2580', '871 Lakeshore Drive, Abilene')
('Q1017', 'Faustina', 'Hicks', '01/24/1997', 'fah@myUniversity.com', '956-277-5715', '787 Ruth Street, Springfield')
('Q1018', 'Melissa', 'Meeks', '01/25/1999', 'scv@myUniversity.com', '716-713-9011', '461 Lakeshore Drive, Abilene')
('Q1019', 'Shelly', 'McFarlen', '01/21/1997', 'sdm@myUniversity.com', '775-553-2558', '744 Ruth Street, Springfield')
('Q1020', 'Alexandro', 'Lopez', '01/20/1997', 'ajl@myUniversity.com', '279-705-3782', '832 Lakeshore Drive, Abilene')

In [6]:
# Displaying details of student who are from 'Abilene'
query = "SELECT StudentID, FirstName, Address FROM student WHERE address LIKE '%Abilene%'"
curs.execute(query)
students = curs.fetchall()
print('DETAILS OF STUDENTS WHO ARE FROM Abilene')
print(f'Student ID, First Name, Address\n{"-"*31}')
for student in students:
    print(student)

DETAILS OF STUDENTS WHO ARE FROM Abilene
Student ID, First Name, Address
-------------------------------
('Q1001', 'Luke', '222 Lakeshore Drive, Abilene')
('Q1003', 'Anne', '871 Lakeshore Drive, Abilene')
('Q1005', 'Chelsea', '461 Lakeshore Drive, Abilene')
('Q1007', 'Todd', '832 Lakeshore Drive, Abilene')
('Q1009', 'Suzanne', '587 Lakeshore Drive, Abilene')
('Q1011', 'Alan', '364 Lakeshore Drive, Abilene')
('Q1013', 'Ruth', '610 Lakeshore Drive, Abilene')
('Q1014', 'Peyton', '222 Lakeshore Drive, Abilene')
('Q1016', 'Kimberly', '871 Lakeshore Drive, Abilene')
('Q1018', 'Melissa', '461 Lakeshore Drive, Abilene')
('Q1020', 'Alexandro', '832 Lakeshore Drive, Abilene')

In [7]:
# Displaying details of students born in 1997
query = "SELECT StudentID, FirstName, DateOfBirth FROM student WHERE DateOfBirth LIKE '%1997%'"
curs.execute(query)
students = curs.fetchall()
print('DETAILS OF STUDENTS BORN IN 1997')
print(f'Student ID, First Name, Date of Birth\n{"-"*37}')
for student in students:
    print(student)

DETAILS OF STUDENTS BORN IN 1997
Student ID, First Name, Date of Birth
-------------------------------------
('Q1003', 'Anne', '02/02/1997')
('Q1005', 'Chelsea', '01/24/1997')
('Q1007', 'Todd', '01/21/1997')
('Q1008', 'Kirk', '01/20/1997')
('Q1009', 'Suzanne', '11/20/1997')
('Q1015', 'Shawna', '12/05/1997')
('Q1017', 'Faustina', '01/24/1997')
('Q1019', 'Shelly', '01/21/1997')
('Q1020', 'Alexandro', '01/20/1997')

In [8]:
# Displaying details of students sorted by First Name
query = "SELECT StudentID, FirstName, LastName FROM student ORDER BY FirstName"
curs.execute(query)
students = curs.fetchall()
print('DETAILS OF STUDENTS - SORTED BY FIRSTNAME')
print(f'Student ID, First Name, Last Name\n{"-"*33}')
for student in students:
    print(student)

DETAILS OF STUDENTS - SORTED BY FIRSTNAME
Student ID, First Name, Last Name
---------------------------------
('Q1011', 'Alan', 'Roman')
('Q1020', 'Alexandro', 'Lopez')
('Q1003', 'Anne', 'Scott')
('Q1005', 'Chelsea', 'Vlassman')
('Q1017', 'Faustina', 'Hicks')
('Q1012', 'Jie', 'Woo')
('Q1006', 'Kelly', 'Hudson')
('Q1016', 'Kimberly', 'Macaw')
('Q1008', 'Kirk', 'Mitchell')
('Q1004', 'Lucy', 'Blakeslee')
('Q1001', 'Luke', 'Baxley')
('Q1002', 'Marnie', 'Lemmons')
('Q1018', 'Melissa', 'Meeks')
('Q1014', 'Peyton', 'Baxley')
('Q1013', 'Ruth', 'Langford')
('Q1015', 'Shawna', 'Rose')
('Q1019', 'Shelly', 'McFarlen')
('Q1009', 'Suzanne', 'Dunn')
('Q1010', 'Tina', 'Drew')
('Q1007', 'Todd', 'Robertson')

#### 5) Closing the connection to the database

In [9]:
curs.close()
db.close()

## Thank You!