## 30 Days Python Bootcamp @BEST-ENLIST

### Author: SANDHYA S

### Date: 29 June '21

## Task: Python & MySql

#### • For Installing SQL Driver -- use PIP to install "MySQL Connector"

In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\admin\anaconda3\lib\site-packages (2.2.9)Note: you may need to restart the kernel to use updated packages.

#### •  Import the SQL connector by import mysql.connector

In [2]:
import mysql.connector

#### • Use the username and password from your MySQL database:

In [3]:
mydb = mysql.connector.connect(host='localhost', 
                               user='root', 
                               password='password')
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000250D557C2E0>

#### • To create a database in MySQL, use the "CREATE DATABASE" statement

In [4]:
dbse = mydb.cursor()
dbse.execute("CREATE DATABASE mydatabase")

#### • You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [5]:
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

#### • To create a table in MySQL, use the "CREATE TABLE" statement.

In [6]:
mydb = mysql.connector.connect(host='localhost', user='root', password='password', database='mydatabase')
dbse = mydb.cursor()
dbse.execute("CREATE TABLE customers (Employee_name VARCHAR(255), Employee_dep VARCHAR(255))")

#### • Check if a table exist by listing all tables in your database with the "SHOW TABLES" statement

In [7]:
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('customers',)

#### • To delete a database, use "DROP DATABASE" statement

In [8]:
dbse.execute("DROP DATABASE mydatabase")

#### • To close the connection, use close() method

In [9]:
dbse.close()
mydb.close()

# Exercise:

### 1. Create a connection for Database and print the version using a python program

In [10]:
import mysql.connector as msq

In [11]:
conn = msq.connect(host='localhost', user='root', password='password')
curs = conn.cursor(buffered=True)

In [12]:
curs.execute('SELECT VERSION()')
vers = curs.fetchone()
print('MySql Version:', vers)

MySql Version: ('8.0.25',)

### 2. Create multiple tables & insert data in table

#### a) Creating Database - 'MyDatabase'

In [13]:
curs.execute('CREATE DATABASE mydb')

#### b) Creating Tables - 'Student' & 'Staff'

In [14]:
conn = mysql.connector.connect(host='localhost', user='root', password='password', database='mydb')
curs = conn.cursor(buffered=True)

In [15]:
curs.execute('CREATE TABLE student(Stu_Id INTEGER(7), Stu_Name VARCHAR(255), Stu_Dept VARCHAR(255))')
curs.execute('CREATE TABLE staff(Staff_Id INTEGER(7), Staff_Name VARCHAR(255), Staff_Dept VARCHAR(255))')

In [16]:
curs.execute("SHOW TABLES")
for value in curs:
    print(value)

('staff',)
('student',)

#### c) Inserting data into the tables

In [17]:
query = 'INSERT INTO student(Stu_Id, Stu_Name, Stu_Dept) VALUES(%s, %s, %s)'
data = [(234, 'John', 'CSE'), (535, 'Chris', 'ECE'), (782, 'Sara', 'CSE')]
for value in data:
    curs.execute(query, value)

In [18]:
query = 'INSERT INTO staff(Staff_Id, Staff_Name, Staff_Dept) VALUES(%s, %s, %s)'
data = [(922, 'David', 'CSE'), (452, 'Rose', 'ECE')]
for value in data:
    curs.execute(query, value)

In [19]:
# Displaying Student details
curs.execute('SELECT * from student')
student = curs.fetchall()
print(f'Students\n{"-"*8}')
for details in student:
    print(details)

Students
--------
(234, 'John', 'CSE')
(535, 'Chris', 'ECE')
(782, 'Sara', 'CSE')

### 3. Create an employee table and read all the employee names in the table using for loop

In [20]:
# Creating table, 'Employee' and inserting value in it
curs.execute('CREATE TABLE Employee(EmpId INTEGER(7), EmpName VARCHAR(255), EmpSal INTEGER(7))')
sql = 'INSERT INTO Employee(EmpId, EmpName, EmpSal) VALUES(%s, %s, %s)'
data = [(2634, 'John', 25000), (5135, 'Chris', 27000), (7682, 'Sara', 34000), (3482, 'Katty', 45000)]
for value in data:
    curs.execute(sql, value)

In [21]:
curs.execute('SELECT EmpName from Employee')
employee = curs.fetchall()
print(f'Employees\n{"-"*9}')
for name in employee:
    print(name[0])

Employees
---------
John
Chris
Sara
Katty

In [22]:
curs.execute('DROP DATABASE mydb')

In [23]:
conn.commit()
curs.close()
conn.close()

## Thank You!