# 30 Days Python Bootcamp @BEST-ENLIST

## Author: SANDHYA S

## Date: 16 June '21

# Task: User Inputs & Other Important Datatypes

## 1. Python User Input

• The input() function allows user input 

• We can assign the user input to a variable

In [1]:
color = input('Enter your favourite color: ')
print('Your favourite color is '+ color)

Enter your favourite color: BLUE
Your favourite color is BLUE

In [2]:
# Example
num = input('Enter a number: ')
print('Number: '+ num)

Enter a number: 3
Number: 3

## 2. Python Lists

### Building a List

In [3]:
A = ['a','b','c']
B = [1, 2, 3]
print('List A:',A)
print('List B:',B)

List A: ['a', 'b', 'c']
List B: [1, 2, 3]

### Accessing a List
•	Index of list starts from 0

In [4]:
# Example
A = ['s', 'c', 'l', 3, 7]
print('List A: ', A)
print('First Element:', A[0])
print('Third Element:', A[2])
print('Last Element:', A[-1])

List A:  ['s', 'c', 'l', 3, 7]
First Element: s
Third Element: l
Last Element: 7

In [5]:
# Sequence of elements
print(A[1:4])

['c', 'l', 3]

In [6]:
print(A[:])

['s', 'c', 'l', 3, 7]

In [7]:
print(A[2:-1])

['l', 3]

In [8]:
print(A[3:])

[3, 7]

### Append in a List

In [9]:
# Appending value 234 to List A
A = ['Sun', 167, 89.32, 'Parrot']
print('Actual List:', A)
A.append(234)
print('List after append:', A)

Actual List: ['Sun', 167, 89.32, 'Parrot']
List after append: ['Sun', 167, 89.32, 'Parrot', 234]

### Extending a List

In [10]:
A = ['Sun', 167, 'Parrot']
print('Actual List:', A)
A.extend(['234', 786])
print('List after extension:', A)

Actual List: ['Sun', 167, 'Parrot']
List after extension: ['Sun', 167, 'Parrot', '234', 786]

### Inserting value in a List

In [11]:
A = [167, 'Parrot', 234.56]
print('Actual List:', A)

Actual List: [167, 'Parrot', 234.56]

In [12]:
# Inserting value at index 2
A.insert(2, 'Flower')
print(A)

[167, 'Parrot', 'Flower', 234.56]

In [13]:
# Inserting value at the beginning
A.insert(0,'CAT')
print(A)

['CAT', 167, 'Parrot', 'Flower', 234.56]

### Deletion in a List

In [14]:
A = ['CAT', 167, 'Parrot', '1987','Flower', 234.56, 'Python']
print('Actual List:', A)

Actual List: ['CAT', 167, 'Parrot', '1987', 'Flower', 234.56, 'Python']

In [15]:
# Deleting value from 3rd index
del A[3]
print(A)

['CAT', 167, 'Parrot', 'Flower', 234.56, 'Python']

In [16]:
# Deleting more than an item using slicing
del A[1:3]
print(A)

['CAT', 'Flower', 234.56, 'Python']

In [17]:
# Deleting Last item using pop()
A.pop()
print(A)

['CAT', 'Flower', 234.56]

In [18]:
# Deleting first item using pop()
A.pop(0)
print(A)

['Flower', 234.56]

In [19]:
# Deletion using remove()
A.remove('Flower')
print(A)

[234.56]

### Maximum & Minimum of a List
•	To get the smallest or largest item in a list, use the built-in min and max functions:

In [20]:
A = [123, 435, 876, 564, 904]
print('List A:', A)

List A: [123, 435, 876, 564, 904]

In [21]:
# Maximum using max()
print('Maximum Value:', max(A))

Maximum Value: 904

In [22]:
# Minimum using min()
print('Minimum Value:', min(A))

Minimum Value: 123

### Sorting a List

In [23]:
A = [435, 876, 564, 904, 123]
print('List A:', A)
B = sorted(A)
print('Sorted A:', sorted(A))
print('List B:', B)

List A: [435, 876, 564, 904, 123]
Sorted A: [123, 435, 564, 876, 904]
List B: [123, 435, 564, 876, 904]

## 3. Python Tuples

In [24]:
# creating a tuple
C = (3, 5, 8, 2, 6)
print('Tuple C:', C)

Tuple C: (3, 5, 8, 2, 6)

### Tuple with mixed datatypes

In [25]:
C = (3, 'Hello', 82, '1845', 7.23)
print('Tuple C:', C)

Tuple C: (3, 'Hello', 82, '1845', 7.23)

### Accessing tuple elements using indexing

In [26]:
C = ('Hello', 3, 82, '1845', 7.23)
print('First Element:', C[0])
print('Third Element:', C[2])
print('Last Element:', C[-1])

First Element: Hello
Third Element: 82
Last Element: 7.23

#### • Unlike lists, tuples are immutable ( They cannot be changed)

# Exercise:

### 1. Write a program to create a list of n integer values and do the following
#### •	Add an item in to the list (using function)
#### •	Delete (using function)
#### •	Store the largest number from the list to a variable
#### •	Store the Smallest number from the list to a variable

### Solution:

In [27]:
# creating an empty list
my_list = list()
print('List:', my_list)

List: []

##### • Add an item in to the list (using function)

In [28]:
# Adding an item using append()
my_list.append(453)
print('List:', my_list)
my_list.append(794)
print('List:', my_list)

List: [453]
List: [453, 794]

In [29]:
# Adding more items using extend()
my_list.extend([673, 132, 986, 435, 545])
print('List:', my_list)
my_list.extend([723, 477, 916, 812, 834])
print('List:', my_list)

List: [453, 794, 673, 132, 986, 435, 545]
List: [453, 794, 673, 132, 986, 435, 545, 723, 477, 916, 812, 834]

##### • Delete (using function)

In [30]:
# Deleting items using del()
del my_list[:1]
print('List:', my_list)

List: [794, 673, 132, 986, 435, 545, 723, 477, 916, 812, 834]

In [31]:
# Deleting items using pop()
my_list.pop()
print('List:', my_list)
my_list.pop(7)
print('List:', my_list)

List: [794, 673, 132, 986, 435, 545, 723, 477, 916, 812]
List: [794, 673, 132, 986, 435, 545, 723, 916, 812]

In [32]:
# Deleting items using remove()
my_list.remove(673)
print('List:', my_list)

List: [794, 132, 986, 435, 545, 723, 916, 812]

##### • Store the Largest & Smallest number from the list to a variable

In [33]:
print('List:', my_list)

List: [794, 132, 986, 435, 545, 723, 916, 812]

In [34]:
# using max() & min()
large = max(my_list)
small = min(my_list)
print('Largest Number:', large)
print('Smallest Number:', small)

Largest Number: 986
Smallest Number: 132

In [35]:
# using sorted()
large = sorted(my_list)[-1]
small = sorted(my_list)[0]
print('Largest Number:', large)
print('Smallest Number:', small)

Largest Number: 986
Smallest Number: 132

### 2. Create a tuple and print the reverse of the created tuple

In [36]:
# creating an empty tuple
my_tuple = tuple()
print('Tuple:', my_tuple)

Tuple: ()

In [37]:
# Adding values in tuple
my_tuple= (234, 756, 873, 694, 598)
print('Tuple:', my_tuple)

Tuple: (234, 756, 873, 694, 598)

In [38]:
# Reversing the tuple
my_tuple= (234, 756, 873, 694)
print('Tuple:', my_tuple)
print('Reversed Tuple:', my_tuple[::-1])

Tuple: (234, 756, 873, 694)
Reversed Tuple: (694, 873, 756, 234)

### 3. Create a tuple and convert tuple into list

In [39]:
my_tuple= (234, 756, 873, 694, 598)

In [40]:
# Converting Tuple into List
my_list = list(my_tuple)
print('Tuple:', my_tuple)
print('List:', my_list)

Tuple: (234, 756, 873, 694, 598)
List: [234, 756, 873, 694, 598]

## Thank You!